.provinsi{
    margin: 5rem 0;
    text-align: center;
}

.provinsi__title{
    padding-top: 2rem;
    font-size: 2.4rem;
    color:#EF476F ;
    font-weight: 500;
}

.provinsi__tagline{
    color:#EF476F;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.table{
    border: 1px solid;
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.table__container{
    padding-top: 1rem;
}


.list{
    background-color: #EF476F;
    color: #FFF;
    border: 1px solid #64748B;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.td{
    color: #EF476F;
    border: 1px solid ;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

@media (min-width: 768px){
    .table{
        padding: 0.5rem 3rem 0.5rem 2.5rem;
    }

    .th{
        padding: 0.5rem 3rem 0.5rem 2.5rem;
    }

    .td{
        padding: 0.5rem 3rem 0.5rem 2.5rem;
    }
}
