/* small screen*/
.footer{
    display: flex;
    flex-direction: column;
}
.container{
    background-color:#EF476F ;
    padding: 0.5rem 1rem;
    color: #fff;
}

.footer__list{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer h2{
    font-weight: 500;
    font-size: 2.4rem;
}

.footer p{
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media(min-width: 768px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__list{
        flex-direction: row;
    }

    .footer_s{
        margin: 0 1rem;
    }
}
