/* Small screen*/
.container{
    background-color: #f72585;
    padding: 1rem;
    color: #fff;
    text-align: center;
}
.footer__title {
    margin-bottom: 1rem;
}

.footer__author{
    margin-bottom: 1rem;
}